<header class="w-full inset-x-0 top-0 relative z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">

        <div class="flex lg:flex-1">
            <a href="{{ path('app') }}" class="-m-1.5 p-1.5">
                <span class="sr-only">MoodTracker</span>
                <img class="h-8 w-auto" src="{{ asset('images/logo.png') }}" alt="MoodTracker" style="transform: scale(2)">
            </a>
        </div>

        <div class="hidden lg:flex lg:flex-1 lg:justify-center lg:gap-x-12">
            <a href="{{ path('app') }}" class="text-sm font-semibold text-gray-900 {{ app.request.attributes.get('_route') == 'app' ? 'text-blue-600' : 'hover:text-blue-600' }}">
                Home
            </a>
            <a href="{{ path('app_mood_calendar_default') }}" class="text-sm font-semibold text-gray-900 {{ app.request.attributes.get('_route') starts with 'app_mood_calendar' ? 'text-blue-600' : 'hover:text-blue-600' }}">
                Calendar
            </a>
            <a href="{{ path('app_insights') }}" class="text-sm font-semibold text-gray-900 {{ app.request.attributes.get('_route') == 'app_insights' ? 'text-blue-600' : 'hover:text-blue-600' }}">
                Insights
            </a>
        </div>

        <div class="hidden lg:flex lg:flex-1 lg:justify-end lg:gap-x-4">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_dashboard') }}" class="text-sm font-semibold text-gray-900 hover:text-blue-600">
                        Dashboard
                    </a>
                {% endif %}
                <a href="{{ path('app_logout') }}" class="text-sm font-semibold text-gray-900 hover:text-blue-600">
                    Logout
                </a>
            {% else %}
                <a href="{{ path('app_login') }}" class="text-sm font-semibold text-gray-900 hover:text-blue-600">
                    Login
                </a>
                <a href="{{ path('app_register') }}" class="text-sm font-semibold text-gray-900 hover:text-blue-600">
                    Register
                </a>
            {% endif %}
        </div>

        <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" aria-controls="mobile-menu" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>
        </div>
    </nav>

    <div class="lg:hidden" id="mobile-menu" role="dialog" aria-modal="true">
        <div class="fixed inset-0 z-50"></div>
        <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
                <a href="{{ path('app') }}" class="-m-1.5 p-1.5">
                    <span class="sr-only">MoodTracker</span>
                    <img class="h-8 w-auto" src="{{ asset('images/logo.png') }}" alt="MoodTracker">
                </a>
                <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Close menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="mt-6 flow-root">
                <div class="-my-6 divide-y divide-gray-500/10">
                    <div class="space-y-2 py-6">
                        <a href="{{ path('app') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50 {{ app.request.attributes.get('_route') == 'app' ? 'text-blue-600' : '' }}">
                            Home
                        </a>
                        <a href="{{ path('app_mood_calendar_default') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50 {{ app.request.attributes.get('_route') starts with 'app_mood_calendar' ? 'text-blue-600' : '' }}">
                            Calendar
                        </a>
                        <a href="{{ path('app_insights') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50 {{ app.request.attributes.get('_route') == 'app_insights' ? 'text-blue-600' : '' }}">
                            Insights
                        </a>
                    </div>

                    <div class="space-y-2 py-6 flex flex-col items-center">
                        {% if app.user %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_dashboard') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">
                                    Dashboard
                                </a>
                            {% endif %}
                            <a href="{{ path('app_logout') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">
                                Logout
                            </a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">
                                Login
                            </a>
                            <a href="{{ path('app_register') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold text-gray-900 hover:bg-gray-50">
                                Register
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
