<div class="space-y-6">
    {{ form_start(form, {'attr': {'class': 'space-y-6', 'data-turbo': 'false'}}) }}

    <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
        <div class="mt-2">
            {{ form_widget(form.email, {'attr': {'class': 'block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6'}}) }}
        </div>
    </div>

    <div>
        <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
        <div class="mt-2">
            {{ form_widget(form.username, {'attr': {'class': 'block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6'}}) }}
        </div>
    </div>

    {% if form.roles is defined %}
        <div>
            <label for="roles" class="block text-sm font-medium leading-6 text-gray-900">Roles</label>
            <div class="mt-2">
                {{ form_widget(form.roles, {'attr': {'class': 'block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6'}}) }}
            </div>
        </div>
    {% endif %}

    <div>
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
        <div class="mt-2">
            {{ form_widget(form.password, {'attr': {'class': 'block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-500 sm:text-sm sm:leading-6'}}) }}
        </div>
    </div>

    <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-blue-500 px-3 mb-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500">
            {{ button_label|default('Save') }}
        </button>
    </div>

    {{ form_end(form) }}
</div>
